{% set title = "Logos page" %}
{% extends "layouts/master.njk" %}

{% block content %}


<form id="app" class="card__container" @submit="checkForm">
	<h1>Pay invoice</h1>
	<div id="radios">
		<h2>Pay method</h2>
		<div class="df">
			<radio-component v-for="item in items"></radio-component>
		</div>	
	</div>

	<div class="card__number">
		<h2>Card number</h2>
		<input type="text" name="" id="" placeholder="Card number" v-model="cardNumber" minlength="16" maxlength="16">
		<span class="card__type">{{getCardType}}</span>
		<span class="card__type">{{validCreditCard()}}</span>
	</div>

	<div class="df">
		<div class="card__number">
			<h2>Expire date</h2>
			<date-picker v-model="date"></date-picker>
		</div>

		<div class="card__number">
			<h2>Security code</h2>
			<input type="text" name="" id="" placeholder="Security code" v-model="cardCvv" maxlength="3"  minlength="3">
		</div>
	</div>

	<div class="card__number">
		<h2>Card name</h2>
		<input type="text" name="" id="" placeholder="Card name" v-model="cardName">
	</div>

	<input type="submit" value="Pay" class="btn" >


	<p v-if="errors.length" class="errors">
    	<b>Please try to fix problems:</b>
    	<ul>
      		<li v-for="error in errors">{{ error }}</li>
    	</ul>
  	</p>
	<flash-message></flash-message>
</form>
  
    

  </div>
{% endblock %}