{% set title = "Logos page" %}
{% extends "layouts/master.njk" %}

{% block content %}


<div id="app" class="container">

	<div class="container cart__container">
		<div v-for="item in items" class="cart__item">
				<h4>{{ item.title }}</h4>
				<h5>$ {{ item.price}}</h5>
				<input type="number" v-model="item.qty" min=1/>
				<input type="checkbox" v-model="item.checked">
				<br>
				<button @click="addToCart(item)" class="btn">Add to Cart</button>
		</div>
	</div>

	<button class="btn">Cart ({{cartItems.length}})</button>
	
	<div class="modal container" >
		<h4>Cart</h4>
		<div class="modal-body">
            <shopping-cart :items="cartItems"></shopping-cart>
        </div>
        <button class="btn" v-show="true">Close</button>
	</div>
</div>



{% endblock %}