@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/functions';
@import 'vendor/libs';
@import 'base/fonts';
@import 'base/general';
@import '../blocks/components/components';
@import '../blocks/modules/modules';
* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s;
    list-style: none;
}

$base-color: #333333;
$color-title: white;
.app-block {
    width: 320px;
    box-shadow: 0 3px 20px #00000023;
    font-family: 'Gilroy', sans-serif;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    color: $base-color;
}

.stats {
    margin: 0px;
}

.stats__title {
    margin: -10px -10px 10px -10px;
    padding: 10px;
    background-color: $base-color;
    color: $color-title;
    font-weight: 500;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    max-width: 100%;
}

.task:hover {
    background-color: #2f485811;
}

.task__title {
    font-size: 18px;
}

.task__desc {
    font-weight: 500;
    font-size: 16px;
}

.task__done {
    height: 30px;
    width: 30px !important;
    border: none;
    background-color: unset;
}

.task__done:hover {
    cursor: pointer;
    border-radius: 4px;
    background-color: #e2aea5bb;
}

.add_task {
    display: flex;
}

.add_task__input {
    width: 100%;
}

.add_task__input input {
    width: 100%;
    max-width: 100%;
    padding: 5px 0 5px 5px;
    border: 2px solid #2f485811;
    border-radius: 4px;
}

.add_task__input input {
    margin-bottom: 5px;
}

.add_task__btn {
    width: 20%;
    border: none;
    margin-left: 20px;
    background-color: unset;
}

.add_task__btn:hover {
    cursor: pointer;
    border-radius: 4px;
    background-color: #2f485811;
}

.btn-random {
    padding: 5px 20px;
    width: 100%;
}